{% extends "layout.html" %}
{% load i18n %}
{% block content %}
	{% if user.is_authenticated %}
		<div id="edit" class="right"><a href="{{ topic.admin_url }}">[{% trans "Change" %}]</a></div>
	{% endif %}
	<h1>{{ topic.name }}</h1>
	<p>{{ topic.content }}</p>
	<h1>{% trans "This topic has been used to develop the following themes:" %}</h1>
	{% for instruction in topic.instructions.all %}
		<h2>{{ instruction.method.link }}</h2>
		{% if instruction.instruction %}
			<li><a href="{{ MEDIA_URL }}{{ instruction.instruction }}">{% trans "Instruction" %}</a></li>
		{% endif %}
		<li><a href="{{ instruction.url }}">{% trans "Experience" %}</a></li>
		{% if instruction.theses %}
			<li><a href="{{ instruction.theses }}">{% trans "Theses" %}</a></li>
		{% endif %}
		{% if instruction.papers %}
			<li><a href="{{ instruction.papers }}">{% trans "Papers" %}</a></li>
		{% endif %}
	{% endfor %}
{% endblock %}