{% extends "layout.html" %}
{% load i18n %}
{% block content %}
	{% if user.is_authenticated %}
		<div id="edit" class="right"><a href="{{ topic.admin_url }}">[{% trans "Change" %}]</a></div>
	{% endif %}
	<h1>{{ topic.name }}</h1>
	<p>{{ topic.content }}</p>
	{% if topic.theses %}
	<h1>{% trans "Theses related to this topic" %}</h1>
	<p>{{ topic.theses }}</p>
	{% endif %}
	{% if topic.papers %}
	<h1>{% trans "Papers related to this topic" %}</h1>
	<p>{{ topic.papers }}</p>
	{% endif %}
	{% if user.is_authenticated %}
		<div id="edit" class="right"><a href="{% url admin:entry_instruction_add %}">[{% trans "Add more instructions" %}]</a></div>
	{% endif %}
	{% if topic.instructions.all %}
	<h1>{% trans "The following methods were used under this topic:" %}</h1>
	{% for instruction in topic.instructions.all %}
		{% if user.is_authenticated %}
			<div id="edit" class="right"><a href="{{ instruction.admin_url }}">[{% trans "Change" %}]</a></div>
		{% endif %}
		<h2>{{ instruction.method.link }}</h2>
		{% if instruction.instruction %}
			<li><a href="{{ MEDIA_URL }}{{ instruction.instruction }}" target="_blank">{% trans "Instructions on how to use the method under this topic (PDF)" %}</a></li>
		{% endif %}
		<li><a href="{{ instruction.url }}">{% trans "Method user experiences" %}</a></li>
		{% if instruction.theses %}
			<li><a href="{{ instruction.theses }}">{% trans "Theses related to this instruction" %}</a></li>
		{% endif %}
		{% if instruction.papers %}
			<li><a href="{{ instruction.papers }}">{% trans "Papers related to this instruction" %}</a></li>
		{% endif %}
	{% endfor %}
	{% endif %}
{% endblock %}